* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    position: relative;
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: beige;
}

.nav * {
    list-style-type: none;
    text-decoration: none;
}

.nav-ul {
    display: flex;
    gap: 10vw;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cart-wrapper {
    height: 100%;
    background: linear-gradient(to right, #fff, #45f4);
    /* opacity: 0.5; */
    width: 40vw;
    position: absolute;
    top: 0;
    right: 0;
    /* border: solid 1px black; */
    transition: ease-in-out 0.2s;
}

.cart {
    position: sticky;
    top: 0;
    padding: 1rem;

}

.cart-title {
    font-size: 4rem;
    text-align: center;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.cart-item {
    border: #3498db solid 2px;
    display: flex;
    align-items: stretch;
    text-align: center;
}

.cart-item>*:not(:last-child) {
    border-right: solid #3498db 2px;
}

.cart-item>* {
    display: flex;
    flex-direction: column;
}

.cart-item-icon {
    height: 15vh;
}

.close-cart-btn {}

.amount-input {
    width: 100%;
}



button {
    padding: 1rem;

}


.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.shop-item-wrapper {
    background-color: #3498db;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.shop-item-img {
    width: 200px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}