* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --nav-bar-height: 8vh;
    --lb: #3498db;
    --db: #010280;
    --bei: beige;
    --purple: #e25bff;
    --bg: rgb(14, 18, 32);
    --arrow-h: 12px
}

body {
    position: relative;
    overflow-x: hidden;
    background: linear-gradient(to top right, var(--purple) -100%, var(--bg) 50%);
    background-attachment: fixed;

}

a {
    list-style-type: none;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    background-color: var(--bg);
    height: var(--nav-bar-height);
    align-items: center;
    font-size: 1.8rem;
    border-bottom: var(--bei) 3px solid;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav *:not(button) {
    flex: 1;
    font-weight: 400;
}

.nav-links,
.nav-ul {
    display: flex;
    justify-content: space-around;
}

.nav-links a {
    color: var(--bei);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.active-nav {
    color: red;

}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: var(--arrow-h) solid var(--bei);
    position: absolute;
    top: calc(0vh + var(--nav-bar-height) - var(--arrow-h));
}


.home-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home-text {
    position: relative;
    display: flex;
    flex-direction: column;
}

.text-with-background {
    position: relative;
    display: inline-block;
    padding: 1.2rem 20px;
    width: 100vw;
    color: var(--bei);
    z-index: 1;
    transition: all 0.3s ease-out;
}

.text-with-background::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2000px;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(-110%);
    transition: transform 0.3s ease-out;
}

.home-text:hover .text-with-background {
    transform: translateX(20px);
}

.home-text:hover .text-with-background::before {
    transform: translateX(-20%);
}

.homepage {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
}

.page-name {
    font-size: 4rem;
}

.welcome-text {
    font-size: 2rem;
}



.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    flex: 1;
}

.cart-wrapper {
    height: 100%;
    background-attachment: fixed;
    color: var(--bei);
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    transition: ease-in-out 0.2s;
    z-index: 10;

}

.cart-wrapper::-webkit-scrollbar {
    display: none;
}

.cart {
    position: sticky;
    top: 0;
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--purple), var(--bg));

}

.cart-title {
    font-size: 4rem;
    text-align: center;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow-y: scroll;
}

.cart-item {
    /* border: #3498db solid 2px; */
    display: flex;
    align-items: center;
    text-align: center;
}

.cart-item>*:not(:last-child) {
    /* border-right: solid #3498db 2px; */
}

.cart-item>* {
    display: flex;
    flex-direction: column;
}

.cart-item button {
    font-size: 2.5rem;
    background: none;
    color: var(--bei);
    border: 2px solid var(--bei);
    padding: 0.3rem 0.6rem;
    /* padding: 0; */
    /* width: 40px; */
}

.cart-item-icon {
    height: 15vh;
}

.cart-count {
    background-color: var(--bei);
    color: var(--bg);
    font-size: 20px;
    width: 20px;
}


.amount {
    display: flex;
}

.amount input {
    /* width: 50px; */
}


.close-cart-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.amount-input {
    width: 100%;
}

.item-details {
    height: calc(100vh - var(--nav-bar-height));
    background: radial-gradient(beige, var(--lb));
    position: relative;
}

.detail-wrapper {
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    color: beige;
}

.detail-img {
    height: 100%;
}

.detail-props {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2.3rem;
}

.detail-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: flex-end;
}

.price {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.price::after {
    content: "$";

}


button {
    padding: 0.5rem 1rem;

}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
}


.loader {
    border: 16px solid var(--bei);
    border-top: 16px solid var(--lb);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.shop {
    display: flex;
    padding-top: 1.5rem;
    min-height: calc(100vh - var(--nav-bar-height));
    justify-content: flex-start;
}

.items-wrapper {
    flex: 1;
}


.shop-types {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* height: calc(100vh - var(--nav-bar-height)); */
    height: min-content;
    top: 200px;
    padding: 0 2rem;

}

.type-btn {
    background: none;
    width: 100%;
    font-weight: 300;
    font-size: 1.5rem;
    box-shadow: inset 0 0 0 0 var(--lb);
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    border: none;
    cursor: pointer;
    color: var(--bei);
}



.active-type {
    border-bottom: solid 2px var(--bei);
}

.type-btn:hover,
.type-btn:active {
    scale: 0.95;
    border-bottom: solid 5px var(--bei);
}

.shop-item-wrapper {
    background: radial-gradient(var(--db), var(--lb));
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border: 5px solid transparent;
    border-image: linear-gradient(to top, var(--db), var(--lb));
    border-image-slice: 1;
}

.shop-item-props {
    color: var(--bei);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.shop-item-img {
    width: 200px;
}

.add-btn,
.info-btn,
.back-btn,
.nav-cart-btn {
    display: flex;
    background: none;
    padding: 0.5rem;
    border: beige solid 2px;
    color: beige;
    align-items: center;
    gap: 0.3rem;
    font-weight: 700;
    cursor: pointer;
}


.back-btn {
    position: absolute;
    top: 2rem;
    left: 3rem;
}


.add-btn svg,
.nav-cart-btn svg {
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;

    fill: beige;
}

.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    font-size: 18px;
    line-height: 1.5;
    color: var(--bei);
}

.about h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 20px;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}